adf/pipeline/Elson_snow.json
{
	"name": "Elson_snow",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "SELECT\n  *\nFROM\n\"ELSON_ETL_DEV\".\"PUBLIC\".\"ADVENT_WORKS\"",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "linkedService1",
							"type": "LinkedServiceReference"
						},
						"path": "elsat-dev/elsat_silver"
					}
				},
				"inputs": [
					{
						"referenceName": "SnowflakeTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "lookup_for_snowflake",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeV2Source",
						"query": "select table_name\nfrom information_schema.tables\nwhere table_schema = 'PUBLIC'\nand table_name != 'AdventureWorks_Sales_2016'",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						},
						"treatDecimalAsString": false
					},
					"dataset": {
						"referenceName": "SnowflakeTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_for_snowflake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_for_snowflake').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "@{concat('select * from ', item().TABLE_NAME)}",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand",
										"storageIntegration": "AZURE_INT"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "linkedService1",
										"type": "LinkedServiceReference"
									},
									"path": "elsat-dev/elsat_silver"
								},
								"parallelCopies": 4
							},
							"inputs": [
								{
									"referenceName": "SnowflakeTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data2_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SnowflakeV2Source",
									"query": {
										"value": "@{concat('select * from ', item().TABLE_NAME)}",
										"type": "Expression"
									},
									"exportSettings": {
										"type": "SnowflakeExportCopyCommand",
										"storageIntegration": "AZURE_INT"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "SftpWriteSettings",
										"operationTimeout": "01:00:00",
										"useTempFileRename": true
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "linkedService1",
										"type": "LinkedServiceReference"
									},
									"path": "elsat-dev/sftp_els/staging"
								},
								"parallelCopies": 4
							},
							"inputs": [
								{
									"referenceName": "SnowflakeTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sftp_link",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@concat('sftp_els_dev/', item().TABLE_NAME)",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(item().TABLE_NAME, '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/sathyaelson_etl@outlook.com/project_etl_573/L0_snow_layer"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-17T06:47:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}